nav {
  background-color: #10b981;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 80px rgba(0, 0, 0, 0.1);

  .header-name {
    color: #fff;
    font-size: large;
  }

  @media (min-width: 768px) {
    padding: 0.5rem 1rem;
  }
}
